#initial-scene {
    /* 80% of the page */
    position: absolute;
    width: 80%;
    height: 80%;
    /*
    Set the container's background color to the same as the scene's
    background to prevent flashing on load
    */
    background-color: lightgray;
}